<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Edit Comment</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/books/<%=book_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
        <div class="form-group">
          COMMENT TEXT: <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
        </div>
        <button class="btn btn-large btn-primary">
          Submit Edits
        </button>
      </form>
      <a href="/books/<%=book_id%>">Go Back To Book</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>