<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Submit a New Comment for: <%=book.title%></h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/books/<%=book._id%>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" placeholder="comment text">
        </div>
        <button class="btn btn-large btn-primary">
          Save Comment
        </button>
        </form>
        <a href="/books">Go Back</a>
      </div> 
    </div>
</div>

<% include ../partials/footer %>